.sidebarRow{
    display: flex;
    padding: .6rem;
    align-items: center;
    cursor: pointer;
}
.sidebarRow >h4{
    margin-left: 1.2rem;
    font-weight: 800;
}
.sidebarRow > .MuiSvgIcon-root{
    color: #2e81f4;
    font-size: xx-large;
}
.sidebarRow:hover{
    background: lightgray;
    border-radius: 10px;
}