* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.app{
	background: #f1f2f5;
	
}
.app__body {
	display: flex;
	

}
@media (max-width:675px) {
	.app__body{
		flex-direction: column;
		justify-content: center;
	}
}


